* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffff;
  background-image: linear-gradient(to bottom right, #547ca8, #e4e4e4);
  min-height: 80rem;
}

/* NavBar-start */
.navbar .container {
  margin-top: 0;
}
.navbar {
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(51, 66, 87, 0);
  animation: appear 1s;
  transition: background-color 0.3s;
}

.navbar .container .collapse ul li {
  margin: 0 10px;
  margin-left: 50px;
}

.navbar .container a span {
  font-size: 50px;
}

.navbar a .logout {
  font-size: 20px;
  border-radius: 50px;
  background: none;
  border: 2px solid white;
  color: white;
  transition: 0.2s;
  font-weight: 500;
  padding: 8px 20px;
}

.navbar .logout i {
  font-size: 20px;
}

.navbar a .logout:hover {
  background: white;
  border: 2px solid white;
  color: #334257;
  transition: 0.2s;
}

.navbar a .logout:active {
  transform: translateY(5px);
  transition: 0.2s ease-in-out;
}
/* nav-end */

/* fitur */
.fitur {
  margin-top: 150px;
}

thead {
  background-color: #548ca87d;
  border-bottom: 8px solid #548ca8ab;
  /* box-shadow: 100px black; */
}

tbody {
  background-color: #ffff;
}
tbody > tr {
  border-bottom: 8px solid #548ca8ab;
}

/* table{
    /* border:2px solid #548ca8ab !important ; 
    box-shadow: 100px !important;
  }  */

.btn {
  font-size: 20px;
  border-radius: 50px;
  padding: 10px 50px;
  background: #ffff;
  border: 2px solid #547da875;
  color: #548ca8;
  font-weight: bold;
}

.btn:hover {
  background: white;
  border: 2px solid #dadff1;
  color: #334257;
  transition: 0.5s;
}

.btn:focus {
  box-shadow: none;
}

.btnfiltersort {
  background-color: #ffff;
  border-radius: 15px;
}

.search {
  height: 55px;
}

td > .unverified {
  background-color: #7382b83f !important;

  width: 9rem;
  border-radius: 25px;
  color: red;
  padding: 10px 0px;
}

.verified {
  background-color: #7382b83f !important;

  width: 9rem;
  border-radius: 25px;
  color: #67b668;
  padding: 10px 0px;
}
